# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#cmakebuild
build/*

#cppcheck
LabsCheck-cppcheck-build-dir/*
*.cppcheck

#vscode
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
lab-multiple-log/log.txt
